ACCESS_TOKEN=YOUR_TOKEN_HERE
IBGE_URL=https://servicodados.ibge.gov.br/api/v1/localidades/municipios
INPUT_FILE=input.csv
OUTPUT_FILE=resultado.csv
SUBMIT_URL=https://mynxlubykylncinttggu.functions.supabase.co/ibge-submit
